body{
    font-family: Poppins;
    font-style: normal;
    font-weight:900;
}
.container{
    width:280px;
    height: 450px;
    position: absolute; 
    bottom: 10%;
    left: 58%;
    text-align:center;
}
.coupon{
    margin-left:5%;
    border-radius:8px;
    width:90%;
    height:60px;
    line-height:60px;
    background-color:rgba(20, 20, 20, 0.2);
    color:white;
    font-size:28px;
    font-weight: 600;
}
.copyButton{
    
    float:right;
    border-top-right-radius:8px;
    font-size:18px;
    border-bottom-right-radius:8px;
    width:30%;
    height:100%;
    background-color:#146531;
    cursor: pointer;
}
.button{
    margin-top: 15px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 900;
    font-size: 16px;
    align-items: center;
    border: 0px;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    background-color: #146531;
    color: white; 
    border-radius: 30px;
    cursor: pointer;

}
.button:hover{
    border: 2px solid black;
}

@media only screen and (max-width: 1100px) {
    .container{
        left: 40%;
        width: 55%;
    }
  }
  @media only screen and (max-width: 850px) {
    .container{

        width:58%;
        left: 38%;
    }
  }
  @media only screen and (max-width: 800px) {
    .container{

        width:90%;
        left: 5%;
    }
    .coupon{
        font-size:26px;
    }

  }